.workout-conatiner{
  border: solid;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.workouts-detial{
  border: solid;
  height: 10vh;
  width: 100vh;
  position: relative;
  left: 20px;
  top: 40px;
}